  body {
    background-color: rgb(125, 125, 161);
  }
 
 
  h1 {
    font-size: 35px;
    margin-inline: 10;
    margin-top: 0;
    margin-bottom: 15px;
  }

  h1, h2, p {
    text-align: center;
  }

  hr {
    height: 3px;
    background-color: yellowgreen;
    border-color: yellowgreen;
  }

  a {
    color: blue;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }

