  body {
    background-color: rgb(150, 229, 143);
  }
 
 
  h1, h2, h3, p{
    margin-inline: 10;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color:rgb(29, 30, 32);
  }


  hr {
    height: 3px;
    background-color: yellowgreen;
    border-color: rgb(24, 32, 6);
  }

  a {
    color: blue;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }

